.mainContainer {
    padding: 0 50px 20px;
    background-color: #fff;

    h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        color: #919191;
    }

    .breakLine {
        height: 3px;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 40px;
        background-color: #f6f6f6;
    }

    .toolsContainer {
        display: flex;
        justify-content: space-between;
    }

    .sliderContainer {
        padding: 0 70px;
        margin: 0 auto;
        width: 100%;

        div {
            display: flex;
            height: 100%;
            outline: none;
            align-items: center;
            justify-content: center;
            background-color: #fff;

            img {
                height: 100%;
                width: 100%;
                background-size: contain;
            }
        }
    }

    .sliderItem {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        margin: 0 15px;
    }

    .buttonBack {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -30px;
        top: 40%;
        border: none;
        background-color: transparent;

        img {
            height: 25px;
            width: 25px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    .buttonNext {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -30px;
        top: 40%;
        border: none;
        background-color: transparent;

        img {
            height: 25px;
            width: 25px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}